$cyan: hsl(179, 62%, 43%);
$cyano: hsla(179, 62%, 43%, 0.7);
$brightYellow: hsl(71, 73%, 54%);
$brightYellow2: hsl(91, 93%, 74%);
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);
$shadow: hsla(0, 0%, 0%, 0.5);